{% extends "base.html" %} 
{% block main %}
  <div class="container">
    <h1 id="title">Log In</h1>

    <form method="POST" action="/login">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter username" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}