{% extends "base.html" %} 
{% block main %}
  <div class="container">
      <h1 id="title">New Post</h1>

      <form method="POST" action="/create">
        <label>Title</label>
        <div class="input-group mb-3">
          <input type="text" name="title" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <h3>Body</h3>
        <div class="input-group">
          <textarea class="form-control" name="body" aria-label="With textarea"></textarea>
        </div>

        <button type="submit" class="btn btn-secondary">Save</button>
      </form>
  </div>      
{% endblock %}