{% extends "base.html" %} 

{% block main %}
<div class="container">
    {% for publication in allPublication %}
    <form method="POST" action="/edit">
        <input type="hidden" id="publicationId" name="publicationid" value="{{ publication.id }}">
        <div class="card mb-3">
            <div class="card-body">
            <h5 class="card-title">{{ publication.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">by {{ publication.user.username }} on {{ publication.creation_date }}</h6>
            <p class="card-text">{{ publication.body }}</p>
            {% if loggedId == publication.user.id %}
                <button type="submit" class="btn btn-primary">Editer</button>
            {% endif %}
            </div>
        </div>
    </form>

    {% endfor %}
</div>
{% endblock %}