{% extends "base.html" %} 
{% block main %}
  <div class="container">
    <h1 id="title">Register</h1>
    {% if error %}
      <h3 id="error" style="color: red">Une erreur est survenue</h1>
    {% endif %}

    <form method="POST" action="/register">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="inputFirstName">first name</label>
        <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="inputLastName">last name</label>
        <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="getCheck" required>
        <label class="form-check-label" for="getCheck">Je n'ai ni lu et ni approuvé les conditions d'utilisation</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> 
{% endblock %}
