{% extends "base.html" %} 
{% block main %}
  <div class="container">
    {% for publication in selectedPublication %}
      <h1 id="title">{{ publication.title }}</h1>
      <form method="POST" action="/edited">
        <input type="hidden" id="userId" name="publicationid" value="{{ publication.id }}">
        <label>Title</label>
        <div class="input-group mb-3">
          <input type="text" name="title" value="{{ publication.title }}" class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
        </div>
        <h3>Body</h3>
        <div class="input-group">
          <textarea class="form-control" name="body" aria-label="With textarea" required>{{ publication.body }}</textarea>
        </div>
        <button type="submit" class="btn btn-secondary" name="action" value="save">Save</button>
        <button type="submit" class="btn btn-secondary" name="action" value="delete">Delete</button>
      </form>
      {% endfor %}
  </div>      
{% endblock %}